.botao {
    text-decoration: none;
    color: var(--cor--p5);
    padding: 16px 32px;
    border-radius: 4px;
    background: linear-gradient(180deg, #ffbb00 0%, #f2a50c 100%);
    display: inline-block;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 1);
    text-transform: uppercase;
    font: 600 1.125rem/1.35 "Poppins", sans-serif;
}

.botao:hover{
    background: linear-gradient(180deg, #ffb60d 0%, #e59317 100%);
}

@media(max-width: 600px){

    .botao{
        padding: 12px 16px;
        font-size: 1rem;
    }

}
