*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style-type: none;
}

body{
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    color: #111111;
    
}

img{
    width: 100%;
    height: auto;
    display: block;
}

img[src$=".jpg"]{ /* isso é usado em tudo que for ".jpg"*/
    border-radius: 4px;
    width: 100%;
    height: auto;
    display: block;
}

a{
    text-decoration: none;
}